body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.map {
  right: 10%;
}

#chart_TotalMiles{
  display: block;
  float: right;
}
#chart_TotalTrips{
  display: block;
  float: left;
}
#chart_topcompany{
  display: block;
  float: right;
}
#chart_TotalCosts{
  display: block;
  float: left;
}



